.layout {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 20px auto 0 auto;
  gap: 1%;
  height: 495px;
}

.layout .leftS {
  width: 75%;
  border: 1px solid;
  height: 100%;
}

.layout .rightS {
  width: 25%;
  border: 1px solid;
  height: 100%;
}
