@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}


.box {
  @apply  p-2  border  bg-white rounded-sm  border-zinc-400  
}

tr {
  @apply  text-center mt-2
}
td {
  @apply  text-center py-1 
}
