@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}
body {
  max-width: 2500px;
  margin: 0 auto;
  width: 100%;
}
.box {
  @apply p-2 border bg-white rounded-sm border-zinc-400;
}

.flex-cent {
  @apply flex justify-center items-center;
}

tr {
  @apply text-center border-t-2 border-zinc-400;
}
td {
  @apply text-center py-1 border border-zinc-400;
}
